@import "normalize.scss";
@import "layout.scss";

.font-12{
    font-size: 12px;
}
.texe-center{
    text-align: center;
}
.fl-r{
    float: right;
}
.fl-l{
    float: left;
}
.addBtn{
    margin-bottom: 20px;
}